.contents__body__side
  .contents__body__side--1
    .heading
      %p.menu マイページメニュー
    .box
      %p.box__letter お知らせ
    .box
      = link_to favoriteGoods_user_path(:id) , class: "link-btn" do
        %p.link-letter いいねした商品
  .contents__body__side--2
    .heading
      %p.menu 商品を出品する
    .box
      = link_to new_item_path , class: "link-btn" do
        %p.link-letter 商品を出品する
    .box
      = link_to exhibitedShow_user_path(:id) , class: "link-btn" do
        %p.link-letter 出品した商品
    .box
      %p.box__letter 自分のショップを見る
  .contents__body__side--3
    .heading
      %p.menu 商品を購入する
    .box
      = link_to purchaseGoods_user_path(:id) , class: "link-btn" do
        %p.link-letter 購入した商品
    .box
      %p.box__letter 最近見た商品
    .box
      = link_to commentGoods_user_path(:id) , class: "link-btn" do
        %p.link-letter コメントした商品
  .contents__body__side--4
    .heading
      %p.menu その他
    .box
      = link_to setUpShow_users_path , class: "link-btn" do
        %p.link-letter 設定
    .box
      = link_to "#" , class: "link-btn" do
        %p.link-letter お問い合わせ
    .box
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "box__logout"