.contents
  = render "header-top"
  .contents__body
    = render "side-bar"
    .creditNew
      %p.creditNew--Title クレジットカード情報入力
      .creditNew--list
        = form_tag(credit_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
          .fields
            %p.letter--1 カード番号
            %p.letter--2 ※必須
          %p.Form-mge <半角英数字で入力してください>  <12文字迄>
          = text_field_tag "number", "", class: "number", placeholder: "例) 1234123412341234（ハイフンなし）" ,maxlength: "16", type: "text", id: "card_number"
          %br
          .box-text
            %p.letter--1 有効期限
            %p.letter--2 ※必須
          %p.Form-mge <下記から選択してください> 
          .box-fields
            .field
              %select#exp_month{name: "exp_month", type: "text"}
                %option{value: ""} --
                %option{value: "1"}01
                %option{value: "2"}02
                %option{value: "3"}03
                %option{value: "4"}04
                %option{value: "5"}05
                %option{value: "6"}06
                %option{value: "7"}07
                %option{value: "8"}08
                %option{value: "9"}09
                %option{value: "10"}10
                %option{value: "11"}11
                %option{value: "12"}12
              %span.day 月
            .field
              %select#exp_year{name: "exp_year", type: "text"}
                %option{value: ""} --
                %option{value: "2019"}19
                %option{value: "2020"}20
                %option{value: "2021"}21
                %option{value: "2022"}22
                %option{value: "2023"}23
                %option{value: "2024"}24
                %option{value: "2025"}25
                %option{value: "2026"}26
                %option{value: "2027"}27
                %option{value: "2028"}28
                %option{value: "2029"}29
              %span.day 年
          %br
          .fields-c
            %p.letter--1 セキュリティコード
            %p.letter--2 ※必須
          %p.Form-mge-c <半角英数字で入力してください>
          = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面3桁もしくは4桁の番号", maxlength: "4", id: "cvc"
          #card_token
            = submit_tag "追加する", id: "token_submit"
          = link_to "もどる", user_path(:id), class: "back-btn"

  .contents__box
  .footer
  = render "footer-bottom"