.contents_sessions
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .sessions-header
      = link_to root_path, class: "logo-link" do
        = image_tag src="/assets/14309.gif", width:"280", height:"150",class: "logo-pte"
        %p.logo-name Rider’s Garage
        %p.logo-text フリマアプリ&サイト
    .sessions-box
      .sessions-box--icon
        %p.icon-mge 連携済みアカウントでログイン
        .icon-box
          = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "btn" do
            = icon('fab', 'google', class: "icon-G")
          = link_to user_facebook_omniauth_authorize_path, method: :post, class: "btn" do
            = icon('fab', 'facebook-square', class: "icon-F")
          = link_to "#", class: "btn" do
            = icon('fab', 'apple', class: "icon-A")
          = link_to "#", class: "btn" do
            = icon('fab', 'twitter', class: "icon-T")
        .icon-text
          .se ---------------------------------
          %p.text もしくは
          .se ---------------------------------
      .sessions-box--form
        %p.form-mge メールアドレスでログイン
        .field-form
          = f.email_field :email, autofocus: true, autocomplete: "email",class: "form-mail", placeholder: "メールアドレス"
          = f.password_field :password, autocomplete: "current-password",class: "form-pass", placeholder: "パスワード"
        
        .sessions-recaptcha
          = recaptcha_tags
        .sessions-actions
          = f.submit "ログイン",class: "sbtForm"
          %a.top-backBtn{:href => "/items"} トップページに戻る
