.contents
  = render "header-top"
  .contents__body
    = render "side-bar"
    .address-contents
      = form_with(model: @address, local: true) do |f|
        %p.addressTitle 連絡先・住所の設定
        .address-list
          .fields
            %p.letter--1 郵便番号
            %p.letter--2 ※必須
          %p.Form-mge <半角英数字で入力>
          = f.text_field :postal_code, placeholder: "例) 111-1111", class: "Form-text"
          .box
          .fields
            %p.letter--1 都道府県
            %p.letter--2 ※必須
          %p.Form-mge <下記から選択してください>
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name
          .box
          .fields
            %p.letter--1 市区町村
            %p.letter--2 ※必須
          %p.Form-mge <間違いがないよう入力してください>
          = f.text_field :city, placeholder: "例) ◯◯区/ ◯◯市", class: "Form-text"
          .box
          .fields
            %p.letter--1 番地
            %p.letter--2 ※必須
          %p.Form-mge <間違いがないよう入力してください>
          = f.text_field :house_number, placeholder: "例) ◯◯◯1-1-1", class: "Form-text"
          .box
          .fields
            %p.letter--1 建物名
            %p.letter--2 ※必須
          %p.Form-mge <マンション名などは部屋番号まで入力してください>
          = f.text_field :apartment, placeholder: "例) ◯◯◯111号室", class: "Form-text"
          .box
          .fields
            %p.letter--1 電話番号
            %p.letter--3 ※任意
          %p.Form-mge <入力は任意です>
          = f.text_field :phone_number, placeholder: "例) 111-1111-1111", class: "Form-text"
          .box
          .fields
            %p.letter--1 その他
            %p.letter--3 ※任意
          %p.Form-mge <上記の他に必要事項が有れば入力してください>
          = f.text_area :contact, class: "Form-contact"
          .box
          .form-post
            = f.submit "登録する", class: "Form-send"
  .contents__box
  .footer
  = render "footer-bottom"