.categories
  .categories--contents
    .categories--title カテゴリから探す
    %ul.category__parent
      - @parents.each do |parent|
        .category-box{id: "parent_category#{parent.id}"}
          = link_to "#{parent.name}", "#", class: "parent_category",id: "parent#{parent.id}"
          %i.fas.fa-angle-down
        %ul.category__child{id: "parent_list#{parent.id}"}
          - parent.children.each do |child|
            .category-box{id: "parent_category#{child.id}"}
              = link_to "#{child.name}", "#", class: "parent_category",id: "child#{child.id}"
              %i.fas.fa-angle-right
        .paragraph