.contents__top
  .top-title
    %p Rider’s Garage
  .top-text 
    %p アプリをダウンロードして、バイクパーツ・ウェアを売買しよう。
.contents__header
  .header--box
  .header--logo
    = link_to root_path, class: "logo-link" do
      = image_tag(image_path('material/14309.gif'), width:"360", height:"180",class: "logo-pte")
      %p.logo-name Rider’s Garage
      %p.logo-text フリマアプリ&サイト Rider’s Garage[ライダースーガレッジ]
  .header--search
    .search-box
      = form_with(url: "#", local: true, method: :get, class: "search-form") do |f|
        = f.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
        %label{for: "search-icon", class: "search-label"}
          %i.fas.fa-search
        .search-icon
          = f.submit "検索", class: "search-btn", id: "search-icon"
    .login
      - if user_signed_in?
        .adjustment-box
        .bottom-box_notice
          %a{:href => "#", class: "bottom-btn"}
            %i.far.fa-bell#bell
          = link_to "お知らせ", "#", class: "bottom-box_notice--btn", id: "search"
        .bottom-box_my-page
          %a{:href => "#", class: "bottom-btn"}
            %i.far.fa-grin-squint#squint
          = link_to "マイページ", user_path(:id), class: "bottom-box_my-page--btn"
      - else
        .adjustment-box
        .bottom-box_registration
          = link_to "無料会員登録", new_user_path, method: :get, class: "bottom-box_registration--btn"
        = link_to "ログイン", user_session_path, method: :post, class: "bottom-box_login"
        