.contents
  = render "header-top"
  .contents-body-index
    .body-index
      .body-index--box#slide
        = image_tag(asset_path('d18b0b470e4.jpg'), width:"1790", height:"387")
        = image_tag(image_path('material/big_main.jpg'), width:"1790", height:"387")
        = image_tag(image_path('material/shopimg-1.jpg'), width:"1790", height:"387")

    .body-message
      .message__box
        .message__box--from
        .message__box--text
          %p.text-mag バイクパーツ・ウェアを売買できるフリマアプリ
          %p.text-mag1 Rider’s Garageならスマホで写真を撮ってすぐ出品！
          %p.text-mag2 毎日格安商品を見つけよう！アプリをDLしよう！
          .icons
            .apple-icon
              %a{:href => "https://itunes.apple.com/jp/app/instagram/id389801252?mt=8"}
                %img{:alt => "AppStoreで入手", :height => "50", :src => "https://linkmaker.itunes.apple.com/assets/shared/badges/ja-jp/appstore-lrg.svg"}/
            .google-icon
              = image_tag(image_path('material/google-play-badge.png'), width:"200", height:"75")
      .message-image
        = image_tag(image_path('material/smartphone_img01.jpg'), width:"400", height:"275", class: "message-image--pic")
  .contents-items
    %p{:style => "font-size: 20px; font-weight: bold;"} 新着アイテム
    .items-separator
    .itemsNew
      - @items.each_with_index do |item,i|
        - if item.buyer_id.present?
          - if item.images.present?
            .itemsNew__content
              .itemsNew__content__box
                .itemsNew__content__box--image
                  %a{:href => item_path(item.id)}
                    = image_tag (item.images[0].item_image.url), size: "205x240"
                  %a{:href => item_path(item.id), class: "itemsNew-link"}
                    .itemsNew_photo__sold
                      .itemsNew_photo__sold__inner
                        SOLD OUT
                
                  
        - else
          - if item.images.present?
            .itemsNew__content
              .itemsNew__content__box
                .itemsNew__content__box--image
                  %a{:href => item_path(item.id)}
                    = image_tag (item.images[0].item_image.url), size: "205x240"
                .itemsNew__content__box--details{"data-index" => "#{i}"}
                  %a{:href => item_path(item.id), class: "itemsNew-link"}
                    .hidden_field
                      .iName
                        = "#{item.name}"
                      .iPrice
                        = "¥#{item.price}"
  .category-contents
    = render "category-list"
  .footer
    = render "footer-top"
    = render "footer-bottom"
-if user_signed_in?
  .btn
    = render "posts-btn"