.contents
  = render "header-top"
  .contents__body
    .contents__body__side
      .contents__body__side--1
        %p.mypage マイページメニュー
        .box
          %p.box__letter お知らせ
        .box
          %p.box__letter いいねした商品
      .contents__body__side--2
        %p.mypage 商品を出品する
        .box
          = link_to new_item_path do
            %p.box__letter 商品を出品する
        .box
          %p.box__letter 出品した商品
        .box
          %p.box__letter 自分のショップを見る
      .contents__body__side--3
        %p.mypage 商品を購入する
        .box
          %p.box__letter 購入した商品
        .box
          %p.box__letter 最近見た商品
        .box
          %p.box__letter コメントした商品
      .contents__body__side--4
        %p.mypage 設定・ヘルプ・その他
        .box
          %p.box__letter 売上・ポイント管理
        .box
          %p.box__letter 設定
        .box
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "box__letter"


    .contents__body__input-list
      = form_with(model: @item, url: items_path, local: true, class: "contents__body__input-list__form") do |f|

        .input-list__image
          .input-list_images
            .input-list__image-1#image-boxer
              %label{for: "file-sample"}
                %i.fas.fa-camera#image-icon
            .input-list__image-2
              = f.fields_for :images do |i|
                .input-field{"data-index" => "#{i.index}"}
                  = i.file_field :item_image, type: 'file', id: "file-sample"
          .input-list_images
            .input-list__image-1#image-boxer1
              %label{for: "file-sample1"}
                %i.fas.fa-camera#image-icon
            .input-list__image-2
              = f.fields_for :images do |i|
                .input-field{"data-index" => "#{i.index}"}
                  = i.file_field :item_image, type: 'file', id: "file-sample1"
          .input-list_images
            .input-list__image-1#image-boxer2
              %label{for: "file-sample2"}
                %i.fas.fa-camera#image-icon
            .input-list__image-2
              = f.fields_for :images do |i|
                .input-field{"data-index" => "#{i.index}"}
                  = i.file_field :item_image, type: 'file', id: "file-sample2"
          .input-list_images
            .input-list__image-1#image-boxer3
              %label{for: "file-sample3"}
                %i.fas.fa-camera#image-icon
            .input-list__image-2
              = f.fields_for :images do |i|
                .input-field{"data-index" => "#{i.index}"}
                  = i.file_field :item_image, type: 'file', id: "file-sample3"

        .product-name
          %p.letter--1 商品名
          %p.letter--2 ※必須
          = f.text_field :name, placeholder: "商品名（必須 40文字まで)", class: "form--text"
        
        .introduction
          %p.introduction--letter1 商品説明
          %p.introduction--letter2 ※必須
          = f.text_area :introduction, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）", class: "introduction__form-area"
        .form-separator
        
        .status
          %p.letter--1 商品の状態
          %p.letter--2 ※必須
          = f.collection_select :status_id, Status.all, :id, :name
        
        .brand
          %p.letter--1 ブランド名
          %p.letter--3 ※任意
          = f.text_field :brand, placeholder: "例)シャネル", class: "brand--text"

        .category
          %p.letter--1 商品カテゴリ
          %p.letter--2 ※必須
          .category_choose
            = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {prompt: '---'}, {id: 'parent_category'}
        .form-separator
        
        .delivery
          %p.letter--1 配送料の負担
          %p.letter--2 ※必須
          = f.collection_select :delivery_fee_id, DeliveryFee.all, :id, :name

        .shipping
          %p.letter--1 発送日の目安
          %p.letter--2 ※必須
          = f.collection_select :shipping_date_id, ShippingDate.all, :id, :name

        .prefecture
          %p.letter--1 発送元の地域
          %p.letter--2 ※必須
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name
        .form-separator

        .price
          %p.letter--1 商品価格
          %p.letter--2 ※必須
          = f.number_field :price, min:300, max:9999999, id: "price_calc", placeholder: "¥300 ~ ¥9999999", value: ""
        .price__charge
          .price__charge--box
          .price__charge--tax 販売手数料（10%）
          %span.price__charge--line{ id: 'sell-main__fee' } ー
        %hr{:color => "#F5F5F5", class:"contents__input-list__form__price__sale__horizontal"}
        .price__profit
          .price__profit--box
          .price__profit--tax 販売利益
          %span.price__profit--line{ id: 'sell-main__profit' } ー

        .form-post
          = f.submit "確認する", class: "form-post--send"
        