.contents
  = render "header-top"
  .contents-body-show
    .body-showTop
      %ul.lists
        %li.showList
          = link_to "Rider’s Garage", root_path, class: "showList--link"
        %i.fas.fa-greater-than
        %li.showList
          = link_to "#" , class: "showList--link" do
            = @category.parent.name
        %i.fas.fa-greater-than
        %li.showList
          = link_to "#" , class: "showList--link" do
            = @category.name
        %i.fas.fa-greater-than
        %li.showList
          = @item.name
    .body-showMde
      .showMde--box
        .showMde--left
          .itemImage--main
            - if @item.buyer_id.present?
              - @item.images.each_with_index do |image, index|
                - if index == 0
                  .itemMain-images{"data-index" => "#{index}"}
                    = image_tag image.item_image.url, :width =>'500px', :height =>'540px', class: "main__image"
                  .itemMain_photo-sold
                    .itemMain_photo-sold__inner
                      SOLD OUT
            - else
              - @item.images.each_with_index do |image, index|
                - if index == 0
                  .itemMain-images{"data-index" => "#{index}"}
                    = image_tag image.item_image.url, :width =>'500px', :height =>'540px', class: "main__image"
              
          .itemImage--sub
            - @item.images.each_with_index do |image, index|
              - if image.persisted?
                .itemSub-images{"data-index" => "#{index}"}
                  = image_tag image.item_image.url, :width =>'115px', :height =>'120px', class: "image__list"
        .showMde--right
          %h1.item-name
            = @item.name
          .item-brand
            = @item.brand
          .item-box
            .item-price
              = "¥#{@item.price}"
            .item-fee
              = @item.delivery_fee.name
          - if user_signed_in?
            -if current_user.id == @item.user_id
              .emptyBox
            -else 
              - if @item.buyer_id.present?
                .emptyBox
              -else 
                %a{:href => purchase_item_path(@item.id), class: "buy-btn--link"}
                  .buy-btn
                    %i.fas.fa-shopping-cart
                    %p.btn-text 購入する
          - else
            .emptyBox
          .item-introduction
            %p.itemExplanation 商品説明
          .item-contents
            = @item.introduction
          .item-list
            .separator
              %span ブランド
              %span.info
                = @item.brand
            .separator
              %span カテゴリ
              %span.info 
                = @category.name
            .separator
              %span 商品の状態
              %span.info 
                = @item.status.name
            .separator
              %span 配送料
              %span.info 
                = @item.delivery_fee.name
            .separator
              %span 発送元の地域
              %span.info 
                = @item.prefecture.name
            .separator-last
              %span 発送日の目安
              %span.info 
                = @item.shipping_date.name
          .exhibitor-name
            %i.far.fa-grin-squint
            %span 出品者
            %span.info 
              = @user.nickname
      .body-showUnder
        %p.showUnder-text この商品について質問
        .underBar
        .comment-list
          - if @comments
            - @comments.each do |comment|
              .comments
                %p
                  = comment.user.nickname
                  %span ：
                  = comment.text
        .comment-box
          %i.fas.fa-exclamation-triangle
          %span.caution 直接取引や個人情報のやり取りは禁止しております。
          = form_with(model: [@item, @comment], class: "comment-box--form", local: true) do |f|
            = f.text_area :text, placeholder: "質問を入力する", class: "comment-area"
            - if user_signed_in?
              = f.submit "質問する", class: "comment-send"
            - else
              %p.login-caution ※ログインすると質問できるようになります。
              = link_to "ログイン", user_session_path, method: :post, class: "comment-box_login"
        %a.backBtn{:href => "/items"} トップページにもどる
  .footer
    = render "footer-bottom"
  
  - if user_signed_in?
    -if current_user.id == @item.user_id
      = render "delete-btn"
    -else 